<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>CRM</title>
    <script src="{{ url_for('static', filename='node_modules/core-js/client/shim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/zone.js/dist/zone.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/reflect-metadata/Reflect.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/systemjs/dist/system.src.js') }}"></script>
    <script src="{{ url_for('static', filename='systemjs.config.js') }}"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <clients-master>Loading...</clients-master>
</body>
</html>