<div class="Flexbox">
    <div class="leftPane Flexbox__flex-2">
        <div class="Flexbox">
            <div class="Flexbox__flex-2"></div>
            <div class="Flexbox__flex-8 btn btn-crm">
                <a routerLink="new" routerLinkActive="active" class="link">Create New</a>
            </div>
            <div class="Flexbox__flex-2"></div>
        </div>

        <clients-list></clients-list>
    </div>

    <div class="rightPane Flexbox__flex-10">
        <router-outlet></router-outlet>

    </div>
</div>